{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="dictionary-entry result-container">
        <div class="header term text-center">{{ dictionaryEntry.getTerm }}</div>
        <div class="result-content definition">{{ dictionaryEntry.getDefinition }}</div>
        <div class="footer">
            <ul class="pb-2">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="admin-actions fa-pull-right">
                        <li class="action-item">
                            <a class="action-link" href="{{ path('edit', { 'id': dictionaryEntry.getId }) }}"><span class="fas fa-edit mr-1"></span>edit</a>
                        </li>
                        <li class="action-item">
                            <a class="action-link" href="{{ path('delete', { 'id': dictionaryEntry.getId }) }}"><span class="fas fa-trash mr-1"></span>delete</a>
                        </li>
                    </div>
                {% endif %}
                <div class="fa-pull-left">
                    <li class="action-item">
                        <a class="action-link" href="{{ path('search') }}"><span class="fas fa-search mr-1"></span>search for a term</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
{% endblock %}